<div id= "title">
  <h1>New Campaign Form</h1>
</div>
<div class= "container-fluid col-md-6">
  <div class= "form-group">
    <h4>Campaign Name</h4>
    <%= f.text_field :name, autocomplete: "off", class: "form-control", placeholder: "Enter Unique Campaign Name"%>
  </div>
  <div class= "form-group">
    <h4>Agency Name</h4>
    <%= f.text_field :agency_name, autocomplete: "off", class: "form-control", placeholder: "Enter Agnecy Name"%>
  </div>
  <div class= "form-group">
    <h4>Advertiser Name</h4>
    <%= f.text_field :advertiser_name, autocomplete: "off", class: "form-control", placeholder: "Enter Advertiser Name"%>
  </div>
  <div class= "form-group">
    <h4>Advertiser URL</h4>
    <%= f.text_field :advertiser_url, autocomplete: "off", class: "form-control", placeholder: "Enter Advertiser URL"%>
  </div>
  <div class= "form-group">
    <h4>Description</h4>
    <%= f.text_area :description, autocomplete: "off", class: "form-control", rows: 5, placeholder: "Enter A Description For This Campaign"%>
  </div>
  <div class= "form-group">
    <h4>Start Date</h4>
    <%= f.date_select :start_date, autocomplete: "off", class: "form-control"%>
  </div>
  <div class= "form-group">
    <h4>End Date</h4>
    <%= f.date_select :end_date, autocomplete: "off", class: "form-control"%>
  </div>
  <h3>Budget</h3>
  <div class= "form-group">
    <h4>Advertiser Rate</h4>
    <%= f.number_field :advertiser_rate, autocomplete: "off", step: 0.01, class: "form-control", placeholder: "$"%>
  </div>
  <div class= "form-group">
    <h4>Impression Quantity</h4>
    <%= f.number_field :imp_quantity, autocomplete: "off", class: "form-control", placeholder: "Number Of Impressions For Campaign"%>
  </div>
  <h3>Inventory</h3>
  <div class= "form-group">
    <h4>Platforms</h4>
  </div>
  <div class= "form-group">
  <%= render partial: 'platforms', locals: {f: f} %>
  </div>
  <div class= "form-group">
    <h4>Creative Types</h4>
  </div>
  <%= render partial: 'creative_types', locals: {f: f} %>
  <h3>Targeting</h3>
  <div class= "form-group">
    <h4>Audiences (Consumer Segments)</h4>
  </div>
  <%= render partial: 'audiences', locals: {f: f} %>
  <div class= "form-group">
    <h4>Audiences (Premium Segments - $3 Upcharge)</h4>
  </div>
  <%= render partial: 'premium_segments', locals: {f: f} %>
  <div class= "form-group has-feedback">
    <h4>Zip Codes</h4>
    <%= f.text_area :zip_codes, autocomplete: "off", class: "form-control", rows: 5, placeholder: "Please Use ONLY 5 Digit Zip Codes, Separated By Commas"%>
  </div>
  <div class="form-group">
    <h4>Geofence POI Included</h4>
    <div class="form-check">
      <label class="form-check-label">
        <%= f.check_box(:geofence_poi, {:multiple => false, checked: false}, nil) %> Select ONLY If Including Separate Geofence POI With This New Campaign Form (Download Available On Next Screen)
      </label>
    </div>
  </div>
  <div class= "form-group">
     <h4>States</h4>
     <%= f.text_area :states, autocomplete: "off", class: "form-control", rows: 5, placeholder: "Please Use ONLY 2-Letter Abbreviations, Separated By Commas"%>
   </div>
   <div class= "form-group">
     <h4>Metros</h4>
   </div>
   <%= render partial: 'metros', locals: {f: f} %>
   <%= render partial: 'collapse', locals: {f: f} %>
   <%= f.submit class:"btn btn-primary btn-lg"%>

</div>
