

<html>

  <body>
    <div id="main-container" class="container-fluid"
      <div class="row" path="orders">
        <div class="col-sm-8 col-md-5">
          <%= form_for(@entry) do |f| %>
            <%= f.label :name %>
            <%= f.text_field :name %>

            <%= f.label :description %>
            <%= f.text_field :description %>


          <% end %>
          <!-- <div class="form-group"></div> -->
            <label class="label-group">Name</label>

        </div>
      </div>

    </div>
  </body>

</html>
          <!-- <p id="notice"><%= notice %></p>

          <h1>Order Entry</h1>

          <table>
            <thead>
              <tr>
                <th colspan="3"></th>
              </tr>
            </thead>

            <tbody>
              <% @entries.each do |entry| %>
                <tr>
                  <td><%= link_to 'Show', entry %></td>
                  <td><%= link_to 'Edit', edit_entry_path(entry) %></td>
                  <td><%= link_to 'Destroy', entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
              <% end %>
            </tbody>
          </table>

          <br>

          <%= link_to 'New Entry', new_entry_path %> -->
