
<html>


  <body>
    <!-- <div class="container-fluid top_nav_blue">
      <div class="container">
        <div class="row">
          <div class="navbar navbar-default">
            <a href='#' class='navbar-brand'>
              <img src="app/assets/images/logo.png" class="logo"/>
            </a>
          </div>
        </div>
      </div>
    </div> -->
    <div class="container col-sm-8 col-md-5">
      <h1>New Order</h1>

    <form>
      <div class="form-group">
        <%= form_for @entry, html: {class: "form-control"} do |f| %>
          <div class= "form-group has-danger">
            <h4>Order Name</h4>
            <%= f.text_field :name, autocomplete: "off", required: true, class: "form-control", placeholder: "Enter Unique Order Name"%>
          </div>
          <div class= "form-group">
            <h4>Description</h4>
            <%= f.text_area :description, autocomplete: "off", required: true, class: "form-control", rows: 5, placeholder: "Enter A Description For This Order"%>
          </div>
          <div class= "form-group">
            <h4>Start Date</h4>
            <%= f.date_select :start_date, autocomplete: "off", required: true, class: "form-control"%>
          </div>
          <div class= "form-group">
            <h4>End Date</h4>
            <%= f.date_select :end_date, autocomplete: "off", required: true, class: "form-control"%>
          </div>
          <h3>Budget</h3>
          <div class= "form-group">
            <h4>Advertiser Rate</h4>
            <%= f.number_field :advertiser_rate, autocomplete: "off", required: true, step: 0.01, class: "form-control", placeholder: "$"%>
          </div>
          <div class= "form-group">
            <h4>Impression Quantity</h4>
            <%= f.number_field :imp_quantity, autocomplete: "off", required: true, class: "form-control", placeholder: "Number Of Impressions For Order"%>
          </div>
          <h3>Inventory</h3>
          <div class= "form-group">
            <h4>Platforms</h4>
          </div>
          <div class= "form-group">
          <%= render 'platforms'%>
          </div>
          <div class= "form-group">
            <h4>Creative Types</h4>
          </div>
          <%= render 'creative_types'%>
          <h3>Targeting</h3>
          <div class= "form-group">
            <h4>Audiences (Consumer Segments)</h4>
          </div>
          <%= render 'targeting' %>
          <div class= "form-group">
            <h4>Zip Codes</h4>
            <%= f.text_area :zip_codes, autocomplete: "off", required: true, class: "form-control", rows: 5, placeholder: "Select Zip Codes For Targeting"%>
          </div>
          <div class="form-group">
            <h4>File Upload</h4>
            <input type="file" id="exampleInputFile">
            <p class="help-block">Attach File To Upload</p>
          </div>
          <div class= "form-group">
            <h4>States</h4>
            <%= f.text_area :states, autocomplete: "off", required: true, class: "form-control", rows: 5, placeholder: "Select States For Targeting"%>
          </div>
          <div class= "form-group">
            <h4>Content Categories</h4>
          </div>
          <%= render 'content_categories' %>
          <div class= "form-group">
            <h4>Carriers</h4>
          </div>
          <%= render 'carriers' %>
          <div class= "form-group">
            <h4>Operating Systems</h4>
          </div>
          <%= render 'operating_systems' %>

          <%= render 'form' %>
        <% end %>

      </div>












    </form>

  </body>
</html>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
